
<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h3>Mantenimiento de Usuario</h3>
    </div>
    <div class="card-body">
      <!-- Cargar masiva de usuarios -->
      <div class="mb-4">
        <h4>Cargar masiva de usuarios</h4>
        <div class="mb-4">
          <h4>Descargar Template</h4>
          <a href="assets/users.xlsx" class="btn btn-secondary" download="template.xlsx">Descargar Template</a>
        </div>
        <form (submit)="bulkCreateUsers($event)">
          <div class="form-group">
            <label for="fileUpload">Subir archivo (.xlsx)</label>
            <input
              type="file"
              class="form-control-file"
              id="fileUpload"
              accept=".xlsx"
              (change)="onFileChange($event)"
            />
          </div>
          <button class="btn btn-primary" [disabled]="!usersFile">Cargar</button>
        </form>
      </div>

      <!-- Filtro de búsqueda -->
      <div class="mb-4">
        <h4>Buscar Usuarios</h4>
        <input
          type="text"
          id="searchInput"
          class="form-control"
          placeholder="Buscar"
          (keyup)="searchUsers($event)"
        />
      </div>

      <!-- Tabla de usuarios -->
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Email</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody id="userTable">
            @for (user of users; track $index) {
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.firstName }} {{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.status }}</td>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="script.js"></script>
